body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(249, 255, 249);
    margin-left: 20px;
    word-break: break-word;
}

::selection{
    background-color: rgb(213, 255, 213);
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Lobster', cursive;
    color:rgb(18, 88, 16);
    font-size: 45px;
    text-align: center;
}

#main_title{    
    text-decoration-line: underline;
    text-decoration-color: rgb(36, 122, 33);
    text-decoration-style: wavy;
    text-decoration-thickness: 3px;
}

#header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2%;
}

#open{
    margin-left: 10px;
    margin-top: 10px;
    height: 32px;
}

.regras-container {
    background-color: rgba(0,0,0,0.3);
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgb(235, 255, 235);
}

.regras-modal {
    background-color: rgb(242, 255, 242);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding:30px 50px;
    width: 1000px;
    max-width: 100%;
    text-align: left;
}

#config{
    min-width: 80%;
    min-height: 60px;
    background-color: rgb(129, 129, 129);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    padding-right: 10px;
}

.option{
    margin-top: auto;
    margin-bottom: auto;
    height: 20px;
    width: 40px;
}

.general{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
    display: flex;
    flex-direction: row;
}

#n_sem{
    margin-left: 20px;

}

#starting_op{
    width: 98px;
}

#bot_level_option{
    width: 98px;
}

#refresh{
    margin-left: 40px;
}

#tabuleiro{
    /*background-color: rgb(95, 20, 20);*/
    background-image: url(images/text.jpg);
    background-repeat: round;
    width: 800px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left_space{
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}

#right_space{
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
}


.armazem{
    /* background-color: rgb(83, 79, 78); */
    background-color:rgb(118, 138, 127);
    box-shadow: 0px 1px 10px 5px black inset;
    width: 130px;
    height: 250px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

.cavidade_space{
    width: 480px;
    height: 250px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-direction:column;
    /* background-color: black; */
}

#up_side{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

#down_side{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
}

.cavidade{
    width: 75px;
    height: 100px;
    background-color:rgb(87, 100, 93);
    box-shadow: 0px 1px 10px 5px black inset;
    border-radius: 20px;
    margin-left: auto;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
}

.semente{
    width:10px;
    height:20px;
    /* background-color: rgb(220, 245, 228); */
    background-color: rgb(60, 81, 119);
    border-radius: 50%;
    border-color: green;
    display:flex;
    flex-wrap: wrap;
    margin-left: 11px; 
    margin-top: auto;
    margin-bottom: auto;
    box-shadow: 0px 0.5px 5px 2px rgb(4, 41, 4) inset;
    /* transform: rotate(45deg); */
}

#armazem1{
    order:0;
}

#armazem2{
    order:0;
}

.button{
    background-color: rgb(13, 94, 47);
    color:rgb(213, 248, 229);
    font-size: 20px;
    border-radius: 10px;
    border-color: rgb(14, 99, 73);
    border-width: 3px;
    border-style: outset;
}

.start_button{
    width: 65px;
}

.button:hover{
    border-style: inset;
}

.button:active{
    color:white;
    background-color: rgb(22, 126, 65);
}

#giveup{
    /* margin-left: 1100px; */
}

#scores{
    /* margin-left: 1000px; */
}

#cf{
    background-color: black;
    width: 500px;
    height: 100px;
}

#extra{
    display: flex;
    margin-right: auto;
    margin-left: 980px;
    justify-content: space-between;
    max-width: 220px;
}

a:link{
    text-decoration: none;
    /* color: rgb(13, 94, 47); */
    color: rgb(13, 94, 47);
}

a:visited{
    color:rgb(13, 94, 47);
}

/* hover tem de estar depois de visited */
a:hover{
    text-decoration: underline;
    color: rgb(22, 126, 65);
}

.score_res{
    color: whitesmoke;
    width: 400px;
    height: 200px;
    font-size: 400%;
    margin-top: auto;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: auto;
}


#n_sem{
    min-width:5%;
}

#n_pl{
    min-width:10%;
}

#n_cav{
    min-width:15%;
}

#start{
    min-width:20%;
}

#bot_level{
    min-width:10%;
}


#open{
    position:absolute;
}

.modal-container{
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    opacity: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.modal-container.show{
    pointer-events: auto;
    opacity: 1;
    z-index: 1;
    border-radius: 25px;
}
.modal{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 30px 50px;
    width: 600px;
    max-width: 100%;
    text-align: center;
}

.modal h1 {
    margin: 0;
}

.modal p {
    font-size: 14px;
    opacity: 0.7;
    text-align: justify;
}