h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Lobster', cursive;
    color:brown;
    font-size: 45px;
    text-align: center;
}

.semente{
    width:20px;
    height:15px;
    background-color: red;
    border-radius: 50%;
    display:flex;
}

#tabuleiro{
    /*background-color: rgb(95, 20, 20);*/
    background-image: url(text.jpg);
    background-repeat: round;
    width: 800px;
    height: 300px;
    margin: auto;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.armazem{
    background-color: rgb(114, 61, 51);
    width: 150px;
    height: 250px;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}


#armazem1{
    order:0;
}

#temporario{
    width:350px;
    height:250px;
    background-color: aliceblue;
    order: 0;
}

#armazem2{
    order:0;
}

body{
    
}